{{define "devices.html"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dDDos</title>
    <!-- CSS -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <!-- dateRangePicker -->
    <link href="/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="icon" href="/img/favicon.png">
    <!-- Fonts -->
    <link href="/fonts/inter/inter.css" rel="stylesheet">
    <link href="/css/css1.css" rel="stylesheet">
    <link href="/css/css2.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="js/jtopo-min.js"></script>
    <script src="http://www.jtopo.com/demo/js/toolbar.js"></script>
    <style>
        canvas {
            display: block;
            margin: 0 auto;
            /* border:1px solid greenyellow; */
        }
    </style>
</head>

<body class="body">
    <!-- include header -->
    {{template "/header" .}}

    <!-- main -->
    <main>
        <!-- include sidebar -->
        {{template "/sidebar" .}}
        <!-- main content -->
        <div class="main-container">
            <div class="overflow-hidden">
                <div id="dashboard">
                    <!-- content-header -->
                    <div class="row flex-wrap align-items-center px-6 py-5">
                        <div class="col">
                            <div class="text-light pb-5 pb-lg-0 mr-auto">
                                <h2 class="fw-100 mb-0">物联网设备详细情况展示</h2>
                                <!-- <p class="mb-0">基于区块链及分布式机器学习的物联网设备安全态势感知及控制平台</p> -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- panel -->
            <div class="panel">
                <div class="panel-header align-items-center p-relative">
                    <div class="position-absolute w-100 l-5 l-sm-0 pe-n text-sm-center">
                        <h5 class="title pe-a mb-0 d-inline">实景图渲染</h5>
                    </div>
                    <div class="p-relative ml-auto"><a href="#" class="lead-1"><img src="./img/svg/more.svg"
                                style="display:block;width:20px;height:20px" id="bigger" /></span></a>
                    </div>
                </div>
                <script>
                    $(function () {
                        $("img[id='2gif']").hide();
                        $("img[id='bigger']").click(function () {
                            $("img[id='2gif']").toggle();
                            $("img[id='1gif']").toggle();
                        })
                    })

                </script>
                <div class="panel-body py-0 pl-0 pr-4" id="switchgif">
                    <!-- <img id="1gif" src="/img/1.gif">
                    <img id="2gif" src="/img/2.gif"> -->
                    <canvas id="canvas" width="758" height="500"></canvas>

                    <div class="text-info card border hover-shadow-5" id="contextmenu"
                        style="display:none; position: absolute; z-index:9999;">
                        <div class="card-body">
                            <ul>
                                <li><a>顺时针旋转</a></li>
                                <li><a>逆时针旋转</a></li>
                                <li><a>更改颜色</a></li>
                                <li><a>放大</a></li>
                                <li><a>缩小</a></li>
                                <li><a>删除该节点</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- /.panel -->
    </main>
    <!-- offcanvas - search -->
    <div id="offcanvas-search" class="offcanvas h-100 py-8" data-animation="fadeDown" data-scrollbar="offcanvas">
        <div class="row">
            <div class="col-sm-1 order-sm-last"><button type="button" data-toggle="offcanvas-close"
                    class="close float-right mr-lg-6 text-light o-1 lead-2 fw-100" data-dismiss="offcanvas"
                    aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button></div>
        </div>
    </div>
    <!-- /.offcanvas - search -->
    <!-- preloader -->
    <div class="preloaderWrapper"></div>
    <!-- busuanzi -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Chart.js -->
    <script src="/plugins/chart/Chart.min.js" id="_chartJS_min"></script>
    <script src="/plugins/chart/Chart.bundle.min.js"></script>
    <script src="/plugins/chart/chartjs-plugin-annotation.js"></script>
    <script src="/plugins/chart/chartjs-plugin-labels.js"></script>
    <!-- apexcharts -->
    <script src="/plugins/apexcharts/apexcharts.min.js"></script>
    <!-- RangeSlider -->
    <script src="/plugins/rangeslider/rangeslider.min.js" id="_rangeJS_min"></script>
    <!-- Moment -->
    <script src="/plugins/lib/moment/moment.min.js"></script>
    <!-- dateRangePicker -->
    <script src="/plugins/daterangepicker/daterangepicker.js" id="_DateRangeJS_min"></script>
    <!-- User JS -->
    <script src="/js/scripts.js"></script>
    <!-- Main JS -->
    <script src="/js/main.js" id="_mainJS" data-plugins="load"></script>
    <!-- Modules -->
    <script src="/js/modules.js"></script>
</body>

<script>
    for (let index = 0; index < 5; index++) {
        let name = "#test".concat(index);

        $(name).click(function () {
            if ($(this).hasClass("btn-outline-warning")) {
                $(this).removeClass("btn-outline-warning");
                $(this).addClass("btn-outline-danger");

                $(this).text("UNDER ATTACK");

                return false;
            } else if ($(this).hasClass("btn-outline-danger")) {
                $(this).removeClass("btn-outline-danger");
                $(this).addClass("btn-outline-success");

                $(this).text("OFFLINE");
                return false;
            } else if ($(this).hasClass("btn-outline-success")) {
                $(this).removeClass("btn-outline-success");
                $(this).addClass("btn-outline-warning");

                $(this).text("RUN");
                return false;
            } else {
                console.log("Failed to change the style!");
            }
        });
    }

</script>
<script>
    $(document).ready(function () {
        var canvas = document.getElementById('canvas');
        var stage = new JTopo.Stage(canvas);
        //显示工具栏
        showJTopoToobar(stage);
        var scene = new JTopo.Scene(stage);
        scene.background = 'img/home1.png';

        var node = new JTopo.Node("扫地机器人");
        node.setLocation(150, 100);
        node.setImage('img/robots.png');
        scene.add(node);

        var currentNode = null;

        function handler(event) {
            if (event.button == 0) {// 右键
                // 当前位置弹出菜单（div）
                $("#contextmenu").css({
                    top: 100,
                    left: 100
                }).show();
                console.log(event.pageY);

            }
            if (event.button == 2) {// 右键
                // 当前位置弹出菜单（div）
                $("#contextmenu").hide();
            }
        }
        node.addEventListener('mouseup', function (event) {
            currentNode = this;
            handler(event);
        });

        // stage.click(function(event){
        //     if(event.button == 0){// 右键
        //         // 关闭弹出菜单（div）
        //         $("#contextmenu").hide();
        //     }
        // });
        $("#contextmenu a").click(function () {
            var text = $(this).text();

            if (text == '删除该节点') {
                scene.remove(currentNode);
                currentNode = null;
            } if (text == '撤销上一次操作') {
                currentNode.restore();
            } else {
                currentNode.save();
            }

            if (text == '更改颜色') {
                currentNode.fillColor = JTopo.util.randomColor();
            } else if (text == '顺时针旋转') {
                currentNode.rotate += 0.5;
            } else if (text == '逆时针旋转') {
                currentNode.rotate -= 0.5;
            } else if (text == '放大') {
                currentNode.scaleX += 0.2;
                currentNode.scaleY += 0.2;
            } else if (text == '缩小') {
                currentNode.scaleX -= 0.2;
                currentNode.scaleY -= 0.2;
            }
            $("#contextmenu").hide();
        });

    });
</script>
</script>

{{end}}