{{ define "index.html" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>dDDos</title>
    <!-- CSS -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <!-- dateRangePicker -->
    <link href="/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="icon" href="/img/favicon.png">
    <!-- Fonts -->
    <link href="/fonts/inter/inter.css" rel="stylesheet">
    <link href="/css/css1.css" rel="stylesheet">
    <link href="/css/css2.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
</head>

<body class="body">
    <!-- include header -->
    {{template "/header" .}}

    <!-- main -->
    <main>
        <!-- include sidebar -->
        {{template "/sidebar" .}}
        <!-- main content -->
        <div class="main-container">
            <div class="overflow-hidden">
                <div id="dashboard">
                    <!-- content-header -->
                    <div class="row flex-wrap align-items-center px-6 py-5">
                        <div class="col">
                            <div class="text-light pb-5 pb-lg-0 mr-auto">
                                <h2 class="fw-100 mb-0">dDDos安全态势感知平台</h2>
                                <p class="mb-0">基于区块链及分布式机器学习的物联网设备安全态势感知及控制平台</p>
                            </div>
                        </div>
                        <div class="col-12 col-lg-auto">
                            <div class="d-flex flex-wrap">
                                <div
                                    class="w-100 w-sm-auto reportrange-btn d-flex align-items-center warning-gradient rounded-4 c-pointer">
                                    <div class="d-flex align-items-center justify-content-center w-100">
                                        <div id="reportrange" class="py-2 px-6"><span></span>&nbsp; </div>
                                    </div>
                                </div><a href="#"
                                    class="mt-4 mt-sm-0 ml-sm-4 reportrange-btn btn btn-sm btn-circle warning-gradient lead-1 text-secondary"><img
                                        src="./img/svg/calender.svg" style="display:block;width:20px;height:20px" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- panel -->
            <div class="panel panel-orders">
                <div class="panel-row row no-gutters">
                    <div class="panel-col col-xl-5 col-lp-4 panel-pt-col">
                        <!-- panel -->
                        <div class="panel panel-pt">
                            <div class="panel-row row no-gutters">
                                <div class="panel-col col-xl-12">
                                    <!-- welcome panel -->
                                    <div class="panel">

                                        <div class="panel-header align-items-center p-relative">
                                            <div class="position-absolute w-100 l-5 l-sm-0 pe-n text-sm-center">
                                                <h5 class="title pe-a mb-0 d-inline">网络信息概览</h5>
                                            </div>
                                            <div class="p-relative ml-auto"><a href="#" class="lead-1"><img
                                                        src="./img/svg/refresh.svg"
                                                        style="display:block;width:20px;height:20px"></a>
                                            </div>
                                        </div>


                                        <div class="collapse show" id="collapseUsersInfo">
                                            <div class="panel-body py-6">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="d-flex align-items-center mb-6">
                                                            <div class="mr-3"><span
                                                                    class="d-block small-8 text-primary text-glow-primary"><img
                                                                        src="./img/svg/point.svg"
                                                                        style="display:block;width:20px;height:20px" /></span>
                                                            </div>
                                                            <div>
                                                                <h3 class="mb-0 lh-1">5</h3><span
                                                                    class="small-2 fw-600">设备数</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-6">
                                                            <div class="mr-3"><span
                                                                    class="d-block small-8 text-warning text-glow-warning"><img
                                                                        src="./img/svg/point.svg"
                                                                        style="display:block;width:20px;height:20px" /></span>
                                                            </div>
                                                            <div>
                                                                <h3 class="mb-0 lh-1">34</h3><span
                                                                    class="small-2 fw-600">总连接数</span>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex align-items-center">
                                                            <div class="mr-3"><span
                                                                    class="d-block small-8 text-danger text-glow-danger"><img
                                                                        src="./img/svg/point.svg"
                                                                        style="display:block;width:20px;height:20px" /></span>
                                                            </div>
                                                            <div>
                                                                <h3 class="mb-0 lh-1">17</h3><span
                                                                    class="small-2 fw-600">源IP数</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="flex-1">
                                                        <div id="chart-rb"></div>
                                                        <!-- modules.js -->
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-center text-center"
                                                    style="height: 75px;">
                                                    <div class="px-6 lh-8">
                                                        <h4 class="mb-0">{{.Total_stream}}Mb</h4> 总 <span
                                                            class="d-none d-md-inline">流量</span>
                                                    </div>
                                                    <hr class="panel-y-hr">
                                                    <div class="px-6 lh-8">
                                                        <h4 class="mb-0">5986</h4>区块链节点数
                                                    </div>
                                                    <hr class="panel-y-hr">
                                                    <div class="px-6 lh-8">
                                                        <h4 class="mb-0">3</h4> IP所属国家数
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <hr class="panel-hr my-6">
                                                    <div class="w-lg-75 mx-auto">
                                                        <p class="mb-0 lead-1"><span
                                                                class="text-warning fw-600" onclick="startAttack(this)" id="attackinfo">一键启动模拟攻击
                                                    </div>
                                                    <hr class="panel-hr mt-6 mb-0">
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.welcome panel -->
                                </div>
                            </div>
                        </div>
                    </div><!-- panel-col -->

                    <div class="panel-col col-xl-7 col-lp-8 panel-pt-col">

                        <!-- panel -->
                        <div class="panel panel-orders">
                            <div class="panel-row row no-gutters">
                                <div class="panel-col col-lp-6">
                                    <div class="panel">
                                        <div class="panel-header align-items-center p-relative">
                                            <div class="position-absolute w-100 l-5 l-sm-0 pe-n text-sm-center">
                                                <h5 class="title pe-a mb-0 d-inline">全网防御情况</h5>
                                            </div>
                                            <div class="p-relative ml-auto"><a href="#" class="lead-1"><img
                                                        src="./img/svg/refresh.svg"
                                                        style="display:block;width:20px;height:20px"></a>
                                            </div>
                                        </div>
                                        <div class="collapse show" id="collapseAudienceBC">
                                            <div class="panel-body pt-0">
                                                <div id="chart-radialBar_B"></div>
                                                <!-- modules.js -->
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <div class="text-center px-6"><span
                                                            class="d-block small-8 text-warning text-glow-white"></span>
                                                        <h3 class="mb-0">2</h3><span
                                                            class="fw-600 text-danger text-glow-danger-sm">正遭受攻击数</span>
                                                    </div>
                                                    <div class="text-center px-6"><span
                                                            class="d-block small-8 text-warning text-glow-warning"></span>
                                                        <h3 class="mb-0">86</h3><span
                                                            class="fw-600 text-warning text-glow-warning-sm">全网总设备数</span>
                                                    </div>
                                                    <div class="text-center px-6"><span
                                                            class="d-block small-8 text-warning text-glow-danger"></span>
                                                        <h3 class="mb-0">79</h3><span
                                                            class="fw-600 text-white text-glow-white-sm">正常运行数
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="text-center">
                                                    <hr class="panel-hr my-6">
                                                    <div class="w-lg-75 mx-auto">
                                                        <p class="mb-0 lead-1"><span
                                                                class="text-warning fw-600">+9.2%</span>与七天前相比</p>
                                                    </div>
                                                    <hr class="panel-hr mt-6 mb-0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.panel -->
                    </div><!-- ./panel-col -->
                </div>
            </div><!-- /.panel -->
    </main>
    <!-- /.main -->
    <!-- offcanvas - search -->
    <div id="offcanvas-search" class="offcanvas h-100 py-8" data-animation="fadeDown" data-scrollbar="offcanvas">
        <div class="row">
            <div class="col-sm-1 order-sm-last"><button type="button" data-toggle="offcanvas-close"
                    class="close float-right mr-lg-6 text-light o-1 lead-2 fw-100" data-dismiss="offcanvas"
                    aria-label="Close"><span aria-hidden="true" class="icon-close"></span></button></div>
        </div>
    </div>
    <!-- /.offcanvas - search -->
    <!-- preloader -->
    <div class="preloaderWrapper"></div>
    <!-- busuanzi -->
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Chart.js -->
    <script src="/plugins/chart/Chart.min.js" id="_chartJS_min"></script>
    <script src="/plugins/chart/Chart.bundle.min.js"></script>
    <script src="/plugins/chart/chartjs-plugin-annotation.js"></script>
    <script src="/plugins/chart/chartjs-plugin-labels.js"></script>
    <!-- apexcharts -->
    <script src="/plugins/apexcharts/apexcharts.min.js"></script>
    <!-- RangeSlider -->
    <script src="/plugins/rangeslider/rangeslider.min.js" id="_rangeJS_min"></script>
    <!-- Moment -->
    <script src="/plugins/lib/moment/moment.min.js"></script>
    <!-- dateRangePicker -->
    <script src="/plugins/daterangepicker/daterangepicker.js" id="_DateRangeJS_min"></script>
    <!-- User JS -->
    <script src="/js/scripts.js"></script>
    <!-- Main JS -->
    <script src="/js/main.js" id="_mainJS" data-plugins="load"></script>
    <!-- Modules -->
    <script src="/js/modules.js"></script>
</body>

<script>
    for (let index = 0; index < 5; index++) {
        let name = "#test".concat(index);

        $(name).click(function () {
            if ($(this).hasClass("btn-outline-warning")) {
                $(this).removeClass("btn-outline-warning");
                $(this).addClass("btn-outline-danger");

                $(this).text("UNDER ATTACK");

                return false;
            } else if ($(this).hasClass("btn-outline-danger")) {
                $(this).removeClass("btn-outline-danger");
                $(this).addClass("btn-outline-success");

                $(this).text("OFFLINE");
                return false;
            } else if ($(this).hasClass("btn-outline-success")) {
                $(this).removeClass("btn-outline-success");
                $(this).addClass("btn-outline-warning");

                $(this).text("RUN");
                return false;
            } else {
                console.log("Failed to change the style!");
            }
        });
    }

    function startAttack(btn){
        btn.innerHTML="启动攻击中……";
        window.confirm("启动攻击中……\n即将跳转到日志界面");
        window.location.href="/log";
    }

</script>

</html>
{{ end }}